
<%- include('partials/head') %>

</head>

<body>

    
    <%- include('partials/navegacao') %>

    <main>
        <h2>Lista de Produtos</h2>
        <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (prod of prods) { %>
                <article class="card product">
                        <header class="card-header">
                            <h1 class="product-title"><%= prod.name %></h1>
                        </header>
                        <div class="card-image">
                            <img src="<%= prod.images[0] %>">
                        </div>
                        <div class="card-content">  
                            <h2 class="product-price">R$ <%= prod.price %></h2>
                            <!-- p class="product-description"><%= prod.description %></p -->
                        </div>
                        <div class="card-actions">
                            <a href="/detalhar/<%= prod._id %>" class="btn">Detalhar</a>
                            <a href="/adicionar/<%= prod._id %>" class="btn">Adicionar</a>
                        </div>
                    </article>
                    <% } %>

        </div>
        <% } else { %>
            <h1>Nenhum produto cadastrado</h1>
        <% } %>
    </main>

    <footer>
        Desenvolvido por Vinícius Machado (Prof Vini)
    </footer>
</body>

</html>