<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!--script src='main.js'></script-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="d-flex justify-content-center">
    <div class="container">
    <h1>
        Users
    </h1>
    <hr>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID#</th>
            <th scope="col">Nickname</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile No</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < users.length; i++) { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= users[i].nickname %></td>
            <td><%= users[i].name.split(' ')[0] %></td>
            <td><%= users[i].name.split(' ')[1] %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].phone %></td>
            <td>
                <a href="/editar/<%= users[i]._id %>" type="button" class="btn btn-info">Edit</a>
                <a href="/delete/<%= users[i]._id %>" type="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <hr>

      <a type="button" class="btn btn-success btn-lg" href="/add-user.html">ADD</a>

      </div>
      </div>
</body>
</html>